* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {}
section {}
aside {}
footer {}
h1, h2, h3, h4, h5, h6 {
  margin-top: inherit;
  margin-bottom: inherit;
}
p {}
ul {}
ol {}
li {}
a {}
div {}
span {}
dl {}
dd {}
dt {}
img {}
table {}
tr {}
td {}
th {}
iframe {}
form {}
input {}
textarea {}
select {}
option {}
button {}
label {}
fieldset {}
legend {}
